input {
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    outline: none !important;
    transition: border-bottom 250ms;

    &:focus {
        border-bottom-color: #888;
    }
}

p {
    margin: 4px 0px;
}