:host {
    font-family: cursive;
}

.main {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.spacer {
    background-color: #999;
    padding: 0 16px;
    margin: 0 8px;
}

.expression {
    background-color: #424242;
    color: #fff;
    align-self: stretch;
    padding-left: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .title {
        margin: 8px 0;
    }
}

.a {
    color: yellow;

    &::placeholder {
        @extend .a;
    }
}

.b {
    color: #4285f5;

    &::placeholder {
        @extend .b;
    }
}

.c {
    color: red;

    &::placeholder {
        @extend .c;
    }
}

.x {
    color: #03cc03;

    &::placeholder {
        @extend .x;
    }
}

@media (max-width: 560px) {
    .main {
        width: 100%;
    }

    .group {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .spacer {
            text-align: center;
        }
    }
}