.form-group {
    display: flex;
    flex-direction: column;
}

p {
    padding: 8px 4px;
    margin: 0;

    &:hover {
        background-color: #555;
    }
}

.list {
    max-height: calc(100vh - (100px + 90px + 32px));
    overflow: auto;
    background: #333;
    padding: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: light) {
    .list {
        background: #999;
    }
}