<h1>Jogo da velha</h1>

<h2>
    <ng-container *ngIf="someoneWins() as textWin; else currentPlayer">
        {{ textWin === -1 ? 'Deu velha!' : 'Jogador ' + textWin + ' venceu!' }}
        <button (click)="reset()">Recomeçar</button>
    </ng-container>
    &nbsp;
</h2>

<main [class.wins]="someoneWins()! > 0" [class.draw]="someoneWins()! === -1">
    <div *ngFor="let row of game(); let i=index; trackBy: trackByFunction;" class="row">
        <div *ngFor="let column of row; let j=index; trackBy: trackByFunction" class="column" (click)="chooseBox(i, j)">
            {{ column }}
        </div>
    </div>
</main>

<div style="text-align: center; margin-top: 2rem;">
    <label>
        <input type="checkbox" [disabled]="alreadyPlayed()" (change)="toggleBot()">
        Contra o bot?
    </label>
    <br>
    <sub>Por enquanto o bot está escolhendo aleatoriamente</sub>
</div>

<ng-template #currentPlayer>
    Jogador {{ actualPlayer() }}
</ng-template>