/* You can add global styles to this file, and also import other style files */
:root {
    color-scheme: light dark;
}

body {
    margin: 0 32px;
    padding: 0;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    outline: none !important;
    transition: border-bottom 250ms;

    &:focus {
        border-bottom-color: #888;
    }
}