/* You can add global styles to this file, and also import other style files */
:root {
    color-scheme: light dark;
}

body {
    margin: 0 36px;
    padding: 0;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    outline: none !important;
    transition: border-bottom 250ms;

    &:focus {
        border-bottom-color: #5d0dff;
    }
}

::placeholder {
    color: #fff;
}

@media (prefers-color-scheme: light) {
    input {
        background-color: #9d9d9d;
        border-color: #333;
    }

    input[disabled] {
        background-color: #505050;
    }
}